# Java Class Files
*.class

# Log Files
*.log

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# Build Directories
target/
build/

# Maven
.mvn/
!src/main/**/application.properties

# Environment Files
.env
.env.*

# SQLite Database
*.db
*.sqlite